<div class="hide" id = {{#concat id "_div"}}{{this}}{{/concat}}>
<fieldset>
<h3>{{id}}</h3>

<input type ="checkbox" id = {{id}} name={{id}}>
<p class="description">{{description}}</p>
</fieldset></div>