<div class="hide" id = {{#concat id "_div"}}{{this}}{{/concat}}>
<fieldset>
<h3>{{id}}</h3>
<p class="description">{{description}}</p>

<input  type = "number" id = {{id}} value = {{default}} name={{id}} data-optional={{optional}}>

</fieldset>
</div>